<div class="container">
    <div class="row">
        <div class="col-md-4 col-6">
            <h2 class="custom-font">OVERVIEW</h2>
            <ul>
                <li><a class="text-muted" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                <li>Terms Of Use</li>
                <li>Legal Information</li>
            </ul>
        </div>
        <div class="col-md-4 col-6 ">
            <h2 class="custom-font">CONTACT</h2>
            <p><strong>Web Training</strong></p>
            <p>General Dragalina 1 </p>
            <p>550076 Sibiu, Romania</p>
        </div>
        <div id="contact" class="col-md-4 col-6">
            <p>Tel.: <span style="white-space: nowrap">+40 77 123 456 7</span></p>
            <p>Email: <a class="text-muted" href="mailto:Info@webtraining.com">Info@webtraining.com</a></p>
        </div>
    </div>
    <div>
        <p class="copyright">Copyright © 2020 Web Training </p>
    </div>
</div>
